#button1{
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

#button1:hover{
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    font-style: italic;
}

#miBarra{
    border: 1rem;
    border-radius: 10px;
    cursor: help;
    border-width: 10px;
    border-style: solid;
}