* {
    font-size: 1em;
    font-family: monospace;
    color: #000000;
}

body {
    background-color: #d4a48a;
    border-image: linear-gradient(to right, #0a2121 0%, #6a6d7e 100%) 1;
    border-width: 4px;
    border-style: solid;
    padding: 5px;
}

header {
    border-bottom: #000000;
    border-bottom-width: 1em;
    border-bottom-style: double;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15em;
    font-style: italic;
}

nav {
    border: #6a6d7e 0.15em solid;
    padding: 1em;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding-left: 0em;
}

.listaLinks {
    counter-reset: nLinks;
}

ul.listaLinks li a::before {
    counter-increment: nLinks;
    content: "Link número " counter(nLinks)": ";
}

a:link:not(:visited) {
    color: #46cb2e;
    text-decoration: overline underline;
}

nav:link:visited {
    color: #a12525;
    text-decoration: line-through;
}


input:checked {
    color: #46cb2e;
    font-size: 120%;
}




#button1 {
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

#button1:hover {
    width: 200px;
    height: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    font-style: italic;
}

#miBarra {
    border: 1rem;
    border-radius: 10px;
    cursor: help;
    border-width: 10px;
    border-style: solid;
}