@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 3em;
}

i {
    font-style: normal;
    text-decoration: underline;
    font-size: 2em;
    font-weight: 400;

}

#primera {
    font-size: 1.15em;
    position: absolute;
    margin-top: -2em;
    margin-left: -2em;
}

div {
    position: relative;
    padding-bottom: 0.5em;
}

div::after {
    content: '';
    position: relative;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 0.3em;
    background: radial-gradient(ellipse farthest-corner at top center, #1b6d1d 35%, #b4c4b4 80%);
    background: -webkit-radial-gradient(ellipse farthest-corner at top center, #1b6d1d 35%, #b4c4b4 80%);
    background: -moz-radial-gradient(ellipse farthest-corner at top center, #1b6d1d 35%, #b4c4b4 80%);
}

section {
    max-width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 3em;
    padding-top: 0;
    padding-left: 4em;
    border-width: 0.3em;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)) 1 100%;

}