body {
    background-image: url(Hubble\ shiny.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    color: white;
}

a {
    color: #dae3e5;
}

a:visited {
    color: #AB92BF;
}

a:active {
    color: #db324d;
}

a:hover {
    color: #92bf9f;
    font-style: italic;
}

