* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(101, 94, 64);
}

h1 {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: #000 0.1em solid;
}

.easterEgg {
    margin: auto;
    width: 20%;
    height: 20%;
    padding: 1%;
}

#awebo {
    margin: auto;
    visibility: visible;
}

#secreto {
    margin: auto;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 10%;
    min-height: 1.5em;
    height: 10%;
}

#secreto:hover {
    margin: auto;
    background-color: rgb(66, 113, 152);
    border: 0.1em solid black;
}

.wrapperFechaYHora {
    margin: auto;
    padding: 1rem;
    background: linear-gradient(to right, red, purple);
}

.fechaYhora {
    margin: auto;
    background: #222;
    color: white;
    padding: 2rem;
}